.custom-organise-button {
    display: inline-flex !important;
    align-items: center !important;
}

#re-organise {
    padding: 8px 16px !important;
    margin-left: 8px !important;
    background-color: #1a73e8 !important;
    cursor: pointer !important;
}