.custom-container {
    display: inline-flex !important;
    align-items: center !important;
}

#re-organise {
    /* padding: 8px 16px !important; */
    margin-left: 12px !important;
    margin-right: 12px !important;
    /* background-color: #1a73e8 !important; */
    cursor: pointer !important;
    z-index: 0;
    display: inline-flex !important;
    align-items: center !important;
    gap: 8px;
}

#manage-folder {
    height: 24px !important;
    width: 24px !important;
}