.custom-container {
    display: inline-flex !important;
    position: relative;
    cursor: pointer !important;
}

#re-organise {
    /* padding: 8px 16px !important; */
    /* background-color: #1a73e8 !important; */
    cursor: pointer !important;
    z-index: 0;
    display: inline-flex !important;
    align-items: center !important;
    gap: 8px;
    /* padding: 16px 8px !important; */
}

#manage-folder {
    height: 24px !important;
    width: 24px !important;
    background: transparent;
}

/* .custom-container:hover {
    background-color: #1a73e8 !important;
    border-radius: 25px;
    position: absolute;
    box-sizing: border-box;
    transform: scale(1);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: transform,opacity;
} */

.custom-container::before {
    background-color: #1a73e8 !important;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    opacity: 0;
    border-radius: 25px;
    position: absolute;
    box-sizing: border-box;
    transform: scale(0);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    z-index: -1;
    display: block;
    transition-property: transform,opacity;
    content: "";
}

.custom-container:hover {
    color: white;
    #manage-folder {
        content: url("/assets/folder_managed.png");
    }
}


.custom-container::after {
    content: "";
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
}

 /* content: "" is for '::before' element to be rendered by browser where pseudo elemetns (::before and ::after) tends to be ignored when loaded */