.custom-container {
  display: inline-flex !important;
  position: relative;
  cursor: pointer !important;
}

#re-organise {
  cursor: pointer !important;
  z-index: 1 !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 8px;
}

#manage-folder {
  height: 24px !important;
  width: 24px !important;
  background: transparent;
}

.custom-container::before {
  background-color: #1a73e8 !important;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  opacity: 0;
  border-radius: 25px;
  position: absolute;
  box-sizing: border-box;
  transform: scale(0);
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  display: block;
  transition-property: transform, opacity;
  content: "";
}

.custom-container:hover {
  color: #e3e3e3;
  #manage-folder {
    content: url("/assets/folder_managed.png");
  }
}

.custom-container:hover::before {
  opacity: 1;
  transform: scale(1);
}

.custom-container::after {
  content: "";
  position: absolute;
  inset: -4px -8px;
}

/* content: "" is for '::before' element to be rendered by browser where pseudo elemetns (::before and ::after) tends to be ignored when loaded */
/* ::after for extending the detection range to activate the ':hover' section */

.custom-container:active::before {
  background-color: #1253a8 !important;
}
